<section class = "section-besoin ">

    <div class = "besoin-content ">
        <card class = "card-besoin"> 
            <div class = "card-header">
                <img class="img-product" src="{{ asset('build/images/ventreplat.png')  }}" alt="Ventre plat">
            </div>
            <div class = "card-body"> 
                <h4 class = "title-besoin"> Comment retrouver un ventre plat ? </h4>
                <p class = "txt-besoin">Gonflé, ballonné, boudiné, serré… Les
                adjectifs ne manquent pas pour
                décrire ce que l’on ressent quand on
                n’arrive plus à fermer le dernier
                bouton de son jean préféré. Après la...</p>
            </div>
        </card> 
        <card class = "card-besoin"> 
            <div class = "card-header">
                <img class="img-product" src="{{ asset('build/images/bol.png') }}" alt="Alimentation saine">
            </div>
            <div class = "card-body"> 
                <h4 class = "title-besoin"> Comment grignoter sainement? </h4>
                <p class = "txt-besoin">Le grignotage, une habitude bien
                ancrée dans nos vies quotidiennes.
                Qui n'a jamais cédé à la tentation
                d'une petite chouquette vers 11 heures
                du matin ou d'un pain au chocolat...</p>
            </div>
        </card> 

        <card class = "card-besoin"> 
            <div class = "card-header">
                <img class="img-product" src="{{ asset('build/images/glace.png' ) }}" alt="Glace avec 0 calorie">
            </div>
            <div class = "card-body"> 
                <h4 class = "title-besoin"> Comment éviter la prise depoids en été ?</h4>
                <p class = "txt-besoin">L’été n’est pas forcément la saison
                propice à la perte de poids. Bien au
                contraire, on aurait même tendance à
                en gagner. Qui sont bien souvent
                pointés du doigt ?...</p>
            </div>
        </card> 

        <card class = "card-besoin"> 
            <div class = "card-header">
                <img class="img-product" src="{{ asset('build/images/joliefille.png') }}" alt=" Teint lumineux">
            </div>
            <div class = "card-body"> 
                <h4 class = "title-besoin"> Draineurs minceur : sont-ils vraiment efficaces ?</h4>
                <p class = "txt-besoin">Vous cherchez un allié pour alléger les
                toxines accumulées, lutter contre la
                rétention d'eau et dégonfler
                rapidement ? Vous hésitez entre
                draineurs et brûleurs de graisses ?
                Tous deux promettent...</p>
            </div>
        </card> 
    </div>
    
     

</section>